a {
  display:inline-block;
  text-decoration:none;
}

body {
	background-image:url("background2.jpg");
	background-size:100%%;
}
.list {
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    background-color:powderblue;
    border-style: solid;
    border-radius:6px;
    font-size:18px;
}

.list:hover{
 	background:yellow;
}

#div1 {
	background-color:white;
	display:inline;
	padding-right:40px;
	padding-left:40px;
	padding-top:40px;
	padding-bottom:40px;
}

.tvpics {
	height:25%;
	width:auto;
}

#tvshows {
	background-color:white;
	padding-right:40px;
	padding-left:40px;
	padding-top:40px;
	padding-bottom:40px;
	display:inline-block;
}

#vampire {
	list-style-type:none;
	display:inline; 
}

#title {
	font-color:yellow;
	text-shadow:red; 
}

.showtitle {
	color:black;
	text-shadow:1px 1px red;
	font-family:"Comic Sans MS", cursive, sans-serif;
	font-size: 18px; 
}

#highlight {
	background-color:yellow;
	font-size:20px;
}

#sgpic {
	height:25%;
	width:auto;
}
