h1 {
  text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
  text-indent:18px;
  font-size:64px;
  border: 18px solid whitesmoke;
  color:black;
  padding-right:32px;
  padding-left:6px;
  padding-bottom:32px;
  padding-top:32px;
}

a {
  text-decoration:none;
  text-decoration-color:black;
  text-decoration-style: none;
  text-decoration-color:black; 
}

a:visited {
  text-decoration:none;
  text-decoration-color:black;
  text-decoration-style: none;
  text-decoration-color:black; 
}

body {
  background-color:powderblue;
}

p {
  font-size: 18px;
  font-family: LucidaConsole, Monaco, monospace;
  text-indent: 70px;
}

#header {
  display:inline;
  text-indent:none;
  size: 12px;
}

#div1 {
  display:inline;
}

h2 {
color: rgba(0,0,0,0.6);
text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
                 0px -5px 35px rgba(255,255,255,0.3);

}

h2 {
    font-family: "Lobster", sans-serif;
    font-size: 96px;
    font-weight: bold;
    text-align: center;
    margin-top:0cm;
}

.mask-galaxy {
    background: url(http://www.jpl.nasa.gov/spaceimages/v2/getMediumImage.php?id=PIA03519) center center;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-animation: travelGalaxy 10s linear infinite;
    -moz-animation: travelGalaxy 10s linear infinite;
    -moz-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-animation: travelGalaxy 10s linear infinite;
    -o-text-fill-color: transparent;
    -o-background-clip: text;
    -o-animation: travelGalaxy 10s linear infinite;
}