h1 {
  color: black;
  font-size: 86px;
  font-family: ComicSansMS, cursive, sans-serif;
  text-indent: 18px;
	border: 18px solid black ;
	text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
  text-indent:18px;
  font-size:64px;
  padding-top:8px;
  padding-bottom:8px;
}

body {
  background-color: #e6f7ff;
}

input {
  width:20%;
  height:30px;
  margin-left:1cm;
}

button {
  height:30px;
  border-radius:20%;
}

.pics {
  height:25%;
  width:auto;
  background-color:white;
  padding-bottom:22px;
  padding-top:22px;
  padding-right:22px;
  padding-left:22px;
  margin-right:1cm;
  margin-bottom:1cm;
  background-repeat:no-repeat;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-radius:12px;
}

#content {
  border-radius:20%;
}

#backround {
  background-color:white;
  display:flex;

}