	 title {
	 	color: White;
	 }

	 h1 {
	 	color: White;
	 	font-family: ComicSansMS, cursive,  sans-serif;
	 	font-size: 72;
	 }

   body {
				background-image: url("http://media.istockphoto.com/photos/abstract-blue-background-picture-id478985058?k=6&m=478985058&s=170667a&w=0&h=OVed_5p0yljMLKlsJikpoWAwRLb3V2r6_C0ualmOfrw=")
				background-size: 100%
	}


#left{
	float:left;
}
#right{
	float:right;
}

#container{
	
}





