

p {
  font-size: 18px;
  font-family: LucidaConsole, Monaco, monospace;
  text-indent: 70px;
}

head {
  background-color: Seashell;
}

body {
  background-image: 
  /*url("http://www.publicdomainpictures.net/pictures/50000/velka/light-blue-wood-texture.jpg");*/
  background-size: 100%;
  background-color:powderblue;
  
}

#paragraph {
    list-style-type: none;
    margin: 10;
    padding: 0;
    font-size:20px;
    width: 100%;
    display: inline;
    text-indent:none;
    
}

.active {
    background-color: #4CAF50;
    color: white;
}


.list {
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    background-color:powderblue;
    border-style: solid;
    border-radius:6px;
    font-size:18px;
    border-left-color: yellow;
    border-right-color: yellow; 
    background-image:url("http://www.publicdomainpictures.net/pictures/50000/velka/light-blue-wood-texture.jpg");
    background-size:100%;
}

.list:hover{
  background:yellow;
}

.links {
  display:initial;
  padding-right:10px;
  padding-left:10px;
  height:20px;
  width:450px;
  margin-left:0.1cm;
  margin-right:0.1cm;
}

.line {
    text-decoration:none;
    transition:1s;
    background-color:white;
    font-size:24px;
    text-indent:180px;
    align-content: center;
    line-height:25px;
    width:135px;
    padding-left: 45px;
    padding-right:45px;
    padding-top:40px;
    padding-bottom:40px;
    text-shadow: 2px 2px red;
    color:black;
    padding: 45px; 
    color: whitesmoke;
    font-size: 24px;
    font-family: ComicSansMS, cursive, sans-serif;
    text-indent: 0px;
    text-shadow: 1px 1px #ff0000;
    
    
}

.line:visited {
	color:black;
}

.line:hover {
	opacity:0.6;
}

#ul1 {
  display: inline;
}

a {
  display:inline-block;
  text-decoration:none;
}

#text {
	font-size:28px;
	border-style: solid; 
	line-height:42px;
  background-image:url("http://www.publicdomainpictures.net/pictures/50000/velka/light-blue-wood-texture.jpg");
}

#logo {
    background-image:("logo-1_clipped_rev_1.png");
    padding-left:0px;
    height:90%;
    width:auto;
}

