h1 , h2 , h3 {
  color: whitesmoke;
  font-size: 86px;
  font-family: ComicSansMS, cursive, sans-serif;
  border-radius: 15px;
  text-indent: 18px;
  text-shadow: 2px 2px #ff0000;
  display:inline;
  text-align: center;
}

p {
  font-size: 18px;
  font-family: LucidaConsole, Monaco, monospace;
  text-indent: 70px;
}

head {
  background-color: Seashell;
}

body {
  background-image: url("http://www.publicdomainpictures.net/pictures/50000/velka/light-blue-wood-texture.jpg");
  background-size: 100%;
  
}

#paragraph {
    list-style-type: none;
    margin: 10;
    padding: 0;
    font-size:20px;
    width: 100%;
    display: inline;
    text-indent:none;
    
}


.active {
    background-color: #4CAF50;
    color: white;
}


.list {
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    background-color:powderblue;
    border-style: solid;
    border-radius:6px;
    font-size:18px;
}

.list:hover{
  background:yellow;
}

.line {
  display: inline;
  text-decoration:none;
  transition:1s;
  background-color:white;
  font-size:24px;
  text-indent:180px;
  align-content: center;
  line-height:90px;
  padding-left: 40px;
  margin-left: -40px;
  padding-right:40px;
  margin-right:-40px;
  padding-top:40px;
  padding-bottom:40px;

}

.line:visited {
	color:black;
}

.line:hover {
	opacity:0.6;
}

#ul1 {
  display: inline;
}

a {
  display:inline-block;
  text-decoration:none;
}

#text {
	font-size:28px;
	border-style: solid; 
	line-height:42px;
}

#logo {
    background-image:("logo-1_clipped_rev_1.png");
    padding-left:0px;
    height:90%;
    width:auto;
}

h1 , h2 {
	display:inline;
}

