body {
	background-image: url("http://www.publicdomainpictures.net/pictures/50000/velka/light-blue-wood-texture.jpg");
	background-size: 100%;
}

#first , #second , #third {
    list-style-type: none;
    margin: 10;
    padding: 0;
    font-size:20px;
    width: 100%;
    background-color: powderblue;
    display: inline;
}
a {
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

.active {
    background-color: #4CAF50;
    color: white;
}

a:hover {
    background-color: #555;
    color: white;
}




